@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navtabs {
  display: flex;
  justify-content: center;
  /* margin-top: 20px; */
  background: white;
  /* box-shadow: 0 2px 4px rgba(0,0,0,0.1); */
  border-radius: 8px;
  padding: 10px 20px;
  position: relative;
  left: -10vw;
}
.navtab {
  margin: 0 10px;
  padding: 10px 20px;
  cursor: pointer;
  color: #333;
  transition: color 0.3s;
}
.navtab:hover {
  color: #ff006f;
}
.navtab.active {
  color: #ff006f;
  font-weight: 600;
}
.underline {
  position: absolute;
  bottom: 0;
  height: 2px;
  background: #007BFF;
  transition: left 0.3s ease, width 0.3s ease;
}
.content {
  display: none;
  padding: 100px 20px 20px;
  max-width: 800px;
  text-align: center;
}
.content.active {
  display: block;
}


.logo {
    height: 12vh;
    width: auto;
    position: absolute;
    left: -0vw;
    top: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4vw;
    background-color: white;
    width: 100vw;
    height: 12vh;
    left: -4vw;
}